@import 'fonts.css'; 

:root {
    --font-family: 'YourFont', -apple-system, sans-serif;
  }
  
  body {
    font-family: var(--font-family);
  }
  
  img {
    user-select: none;
  }

  a{
    text-decoration:none;
  }